.jumbotron {
    background: url('https://source.unsplash.com/1600x900/?travel,landscape') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
    position: relative;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for text readability */
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}
